@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@media screen and (max-width: 1366px) and (max-height:768px) {
  body {
    zoom: 100%;
  }

  .form-popup {
    zoom: 105%;
  }
}

@media screen and (max-width: 1440px) and (max-height:900px) {
  body {
    zoom: 100%;
  }
}
  .form-popup {
    zoom: 105%;
  }
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}
.Section_top {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(../AdvenTour/User/Images/pranav.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  animation: change 50s infinite ease-in-out;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.content h1 {
  color: #fff;
  font-size: 60px;
  letter-spacing: 15px;
}
.content h1 span {
  color: #111;
}

@keyframes change {
  0% {
    background-image: url(../AdvenTour/User/Images/overview.jpg);
  }
  20% {
    background-image: url(../AdvenTour/User/Images/overview2.jpg);
  }
  40% {
    background-image: url(../AdvenTour/User/Images/overview3.jpg);
  }
  60% {
    background-image: url(../AdvenTour/User/Images/overview4.jpg);
  }
  80% {
    background-image: url(../AdvenTour/User/Images/agakhan.jpg);
  }
  100% {
    background-image: url(pune7.jpg);
  }
}

body {
  background: url(../AdvenTour/User/Images/overview3.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  font-family: "Quicksand", sans-serif;
}

.parent {
  position: absolute;
  top: 45%;
  left: 30%;
  size: 130%;
}
.navbar {
  overflow: hidden;
  background-color: #00000000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* border-bottom: 2px solid black; */
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  top: 4%;
  height: fit-content;
  zoom: 80%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: large;
}

.navbar a:hover {
  background-color: rgba(122, 120, 120, 0.265);
}
.text {
  font-size: 400%;
  position: absolute;
  top: 130%;
  text-align: center;
}
.img {
  width: 20%;
  height: 20%;
  border-radius: 2%;
}
.img:hover {
  cursor: pointer;
  width: 22%;
  height: 22%;
  box-shadow: 0 0 20px rgb(6, 49, 218);
  transition: 0.5s ease;
  background-color: #008bba00;
}
.line {
  display: inline-block;
  position: relative;
  color: #ca3d00;
}

.line::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ca0000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.line:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.escapes__title {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 8vh;
  line-height: 1.24;
  position: relative;
}

.escapes__title:before {
  content: "";
  position: absolute;
  bottom: -2vh;
  background-color: #ff5300;
  height: 0.4vh;
  width: 15vh;
}
input[type="text"],
select {
  width: 30%;
  padding: 1vh 1vh;
  margin: 0vh 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff97;
}
input[type="email"],
select {
  width: 30%;
  padding: 1vh 1vh;
  margin: 1vh 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff97;
}
button[type="submit"] {
  background: linear-gradient(to right, #ed7f4c 0%, #ff0000 100%);
  width: 20%;
  padding: 8px;
  color: #ffffff;
  border: 0px solid black;
  border-radius: 2%;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(to right, #ed7f4c86 0%, #ff000083 100%);
  width: 20%;
  padding: 8px;
  color: #000000;
  border: 1px solid black;
  border-radius: 2%;
  cursor: pointer;
}

.expbtn {
  border: 2px solid #1a1a1a;
  background-color: #0000008e;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 10vh;
  font-weight: 300;
  line-height: normal;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
  margin-top: -70vh;
}

.expbtn:hover {
  color: #ffffff;
  background-color: #18181800;
  border: 2px solid orangered;
  box-shadow: rgb(241, 83, 10) 0 4px 10px;
  transform: translateY(-2px);
}
