@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@media screen and (max-width: 1366px) and (max-height:768px) {
  body {
    zoom: 100%;
  }

  .form-popup {
    zoom: 105%;
  }
}

@media screen and (max-width: 1440px) and (max-height:900px) {
  body {
    zoom: 100%;
  }
}
  .form-popup {
    zoom: 105%;
  }
body {
  font-family: "Quicksand", sans-serif;
  background-image: url(./User/Images/pranav.jpg);
}

.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: #ff571b;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #000000;
}
.area {
  float: left;
  background-image: url(../User/Images/);
  /* background: #e2e2e2; */
  width: 100%;
  height: 100%;
}
.boxes {
  margin-top: 4vh;
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  bottom: -250vh;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 3vh;
  justify-content: flex-start;
  border-left: 2vh solid orangered;
}
.boxes span {
  /* border: 0px solid rgba(0, 0, 0, 0.525); */
  border-left: 2vh solid orangered;
  text-align: left;
  padding: 5vh 5vh;
  margin: 2vh;
  margin-left: 18vh;
  background-color: #ffffff;
  font-size: 5vh;
  text-shadow: 2px 0px rgba(0, 0, 0, 0.482);
}
.boxes p {
  text-align: left;
  padding: 5vh 5vh;
  margin: 2vh;
  margin-left: 18vh;
  background: linear-gradient(to right, #f27941 0%, #ff0000 100%);
  font-size: 5vh;
  text-shadow: 2px 0px rgba(0, 0, 0, 0.482);
  border-radius: 1%;
}
.boxes p:hover {
  background: linear-gradient(to right, #f279418c 0%, #ff000081 100%);
  cursor: pointer;
}
.boxes button {
  padding: 0vh 0vh;
  background-color: #f2794100;
  border: 0px;
  cursor: pointer;
  font-size: 4vh;
}
.boxes button:hover {
  font-size: 4.4vh;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.customers {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 80%;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ff5100;
  color: white;
}
